PORT=4000
MONGODB_URI=mongodb+srv://spotline-user:v0G1clW384dxjUQo@spotline.xcbj77w.mongodb.net/?appName=spotLine
NODE_ENV=development

# MongoDB Atlas 설정 예시:
# MONGODB_URI=mongodb+srv://spotline-user:your-password@spotline-cluster.xxxxx.mongodb.net/spotline?retryWrites=true&w=majority

# 로컬 MongoDB (백업용):
# MONGODB_URI=mongodb://localhost:27017/spotline